{
    "plugins": [
        "prettier-plugin-organize-imports",
        "@ianvs/prettier-plugin-sort-imports"
    ],
    "importOrderParserPlugins": ["typescript", "decorators-legacy"],
    "importOrder": [
        "<THIRD_PARTY_MODULES>",
        "",
        "@/app",
        "",
        "^@/common",
        "",
        "^@/config",
        "",
        "^@/logger",
        "",
        "@/db",
        "",
        "^@/url",
        "",
        "^@/errors",
        "",
        "^@/server",
        "",
        "^@/lib",
        "",
        "^@/constants",
        "",
        "^[./]"
    ],
    "printWidth": 80,
    "tabWidth": 4,
    "trailingComma": "all",
    "singleQuote": false,
    "semi": true
}
